/* You can add global styles to this file, and also import other style files */
@import "material-icons/iconfont/material-icons.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

input {
  outline: 0;
  border: 0;
  border-radius: 15px;
  padding: 10px;
  min-width: 30px;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: #b42a2b !important;
  color: white !important;
}

.btn {
  background-color: #b42a2b;
  padding: 10px;
  border-radius: 15px;
  color: white;
  border: 0;
  transition: all 200ms linear;
}

.btn:hover {
  background-color: #8e1919 !important;
  border: 1px solid white !important;
}

.material-icons-outlined,
material-icons {
  width: 28px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: all 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

html::-webkit-scrollbar, .cnt::-webkit-scrollbar{
  width: 6px;
}
html::-webkit-scrollbar-track, .cnt::-webkit-scrollbar{
  background-color: transparent;
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb,.cnt::-webkit-scrollbar{
  background-color: #aaaaaa;
  border-radius: 10px;
}


.dark{
  background-color: #202023;
  color: white;
}

.dark nav,.dark .menu{
  background-color: #1d1d1d;;
}

.light{
  background-color: #d4d4d4;
  color: black;
}

.light nav,.light .menu{
  background-color: white;
}



.light .info label{
  background-color: white;
  color: black;
}

.dark .info label{
  background-color: #202023;
  color: white;
}

.light .info,.light .cnt section,.light .filter{
  background-color: rgb(229, 229, 229);
}

.dark .info,.dark .cnt section,.dark .filter{
  background-color: #e5e5e508;
}

.light mat-checkbox *{
  color: black !important;
}

.dark mat-checkbox *{
  color: white !important;
}

.light mat-form-field *,.light mat-form-field *{
  color: black !important;
}